.header {
    padding: 5px 10px;
}

.highscore {
    color: #17b978;
}


.card {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

h1, h2 {
    font-weight: bold;
}

.btn {
    padding: 3px 15px;
    color: white;
    background-color: #17b978;
    border: none;
}

.btn:hover {
    background-color: #17b978;
    opacity: .5;
    color: white;
}

.btn:focus {
    background-color: #086972;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

ul li .btn {
    margin-top: 10px;
}
